<div class="row">
    <div class="col-md-6">
        <mat-icon class="icon_50px" *ngIf="canShowSpecificButton(1)" (click)="beginOrStopGame(1)" aria-hidden="false"
            aria-label="Pause">play_circle_outline</mat-icon>
        <mat-icon class="icon_50px" *ngIf="canShowSpecificButton(0)" (click)="beginOrStopGame(0)" aria-hidden="false"
            aria-label="Begin">stop</mat-icon>
    </div>
    <!--              <div *ngFor="let coordSnake of snakeCoordinates">
    <p>X : {{coordSnake.x}} / Y : {{coordSnake.y}} / Horizontal : {{coordSnake.horizontal}}</p>
</div> -->
    <div class="col-md-6">
        <p class="font-weight-bold">Score : {{_score}}</p>
    </div>
</div>
<br /><br />
<mat-card class="card_menu card_panel">
    <mat-card-header>
        <mat-card-title *ngIf="_level == _LEVEL.EASY">Easy</mat-card-title>
        <mat-card-title *ngIf="_level == _LEVEL.MEDIUM">Medium</mat-card-title>
        <mat-card-title *ngIf="_level == _LEVEL.HARD">Hard</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <span>Eaten itself error</span><br>
                <span>Border error</span><br>
                <span>Wall error</span><br>
                <span>Speed</span><br>
                <span>Size</span><br>
            </div>
            <div *ngIf="_level == _LEVEL.EASY" class="col-md-6">
                <span>Yes</span><br />
                <span>No</span><br />
                <span>No</span><br />
                <span>180 ms</span><br />
                <span>50 * 30</span><br />
            </div>
            <div *ngIf="_level == _LEVEL.MEDIUM" class="col-md-6">
                <span>Yes</span><br />
                <span>Yes</span><br />
                <span>No</span><br />
                <span>150 ms</span><br />
                <span>35 * 25</span><br />
            </div>
            <div *ngIf="_level == _LEVEL.HARD" class="col-md-6">
                <span>Yes</span><br />
                <span>Yes</span><br />
                <span>Yes</span><br />
                <span>120 ms</span><br />
                <span>30 * 20</span><br />
            </div>
        </div>
    </mat-card-content>
</mat-card>