<div class="row">
    <div class="col-md-6">
        <mat-icon class="icon_50px" *ngIf="canShowSpecificButton(1)" (click)="beginOrStopGame(1)" aria-hidden="false"
            aria-label="Pause">play_circle_outline</mat-icon>
        <mat-icon class="icon_50px" *ngIf="canShowSpecificButton(0)" (click)="beginOrStopGame(0)" aria-hidden="false"
            aria-label="Begin">stop</mat-icon>
            <p>(Or press 'space' key)</p>
    </div>
    <div class="col-md-6">
        <p class="font-weight-bold score">SCORE : {{_score}}</p>
    </div>
</div>
<br /><br />
<mat-card class="card_menu card_panel">
    <mat-card-header>
        <mat-card-title *ngIf="_level == _LEVEL.EASY">EASY</mat-card-title>
        <mat-card-title *ngIf="_level == _LEVEL.MEDIUM">MEDIUM</mat-card-title>
        <mat-card-title *ngIf="_level == _LEVEL.HARD">HARD</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <span> </span><br/>
                <span>CROSS BORDER</span><br>
                <span>CROSS WALL</span><br><br />
                <span>SPEED</span><br>
                <span>SIZE</span><br>
                <span>NUMBER OF WALLS</span>
            </div>
            <div *ngIf="_level == _LEVEL.EASY" class="col-md-6">
                <span id="allowed">ALLOWED ?</span><br/>                
                <span>YES</span><br />
                <span>NO WALL</span><br /><br />
                <span>{{getMainInfoService.getSpeed(_LEVEL.EASY)}} MS</span><br />
                <span>{{getMainInfoService.getSize(_LEVEL.EASY)[0]}} * {{getMainInfoService.getSize(_LEVEL.EASY)[1]}}</span><br />
                <span>0</span>
            </div>
            <div *ngIf="_level == _LEVEL.MEDIUM" class="col-md-6">
                <span id="allowed">ALLOWED ?</span><br/>                
                <span>NO</span><br />
                <span>NO</span><br /><br />
                <span>{{getMainInfoService.getSpeed(_LEVEL.MEDIUM)}} MS</span><br />
                <span>{{getMainInfoService.getSize(_LEVEL.MEDIUM)[0]}} * {{getMainInfoService.getSize(_LEVEL.MEDIUM)[1]}}</span><br />
                <span>{{getMainInfoService.getWallNumber(_LEVEL.MEDIUM)}} </span>
            </div>
            <div *ngIf="_level == _LEVEL.HARD" class="col-md-6">
                <span id="allowed">ALLOWED ?</span><br/>                
                <span>NO</span><br />
                <span>NO</span><br /><br />
                <span>{{getMainInfoService.getSpeed(_LEVEL.HARD)}} MS</span><br />
                <span>{{getMainInfoService.getSize(_LEVEL.HARD)[0]}} * {{getMainInfoService.getSize(_LEVEL.HARD)[1]}}</span><br />
                <span>{{getMainInfoService.getWallNumber(_LEVEL.HARD)}} </span>
            </div>
        </div>
    </mat-card-content>
</mat-card>