.card_panel
{
    width: 90% !important;
    text-align: left !important;
    color : white;
}

.card_panel
{
    width: max-content;
    font-family: 'Akronim';
    font-size: 20px !important;
}

mat-card-content
{
    font-size: 20px !important;
}

.card_panel mat-card-title
{
    text-align: center;
}

.card_panel mat-card-header
{
    justify-content: center;
}

.card_menu
{
    margin: 10px;
    width: 25%;
    background-color: rgb(7, 6, 6);
    margin-bottom: 20px;
    opacity: 0.5;
}

#allowed
{
    color : red;
    font-weight: bold;
}