<div>
    <img *ngIf="_direction == DIRECTION.LEFT" class="rotate_to_left box_size" src="./../../../assets/img/snake_head.svg">
    <img *ngIf="_direction == DIRECTION.TOP" class="rotate_to_top box_size" src="./../../../assets/img/snake_head.svg">
    <img *ngIf="_direction == DIRECTION.RIGHT" class="rotate_to_right box_size" src="./../../../assets/img/snake_head.svg">
    <img *ngIf="_direction == DIRECTION.BOTTOM" class="rotate_to_bottom box_size" src="./../../../assets/img/snake_head.svg">
</div>