<div id="my_container">
    <div class="card_flex">
        <mat-card (click)="level = _LEVEL.EASY; changeLevel()" class="card_menu">
            <mat-card-content>
                Easy
            </mat-card-content>
        </mat-card>
        <mat-card (click)="level = _LEVEL.MEDIUM; changeLevel()" class="card_menu">
            <mat-card-content>
                Medium
            </mat-card-content>
        </mat-card>

        <mat-card (click)="level = _LEVEL.HARD; changeLevel()" class="card_menu">
            <mat-card-content>
                Hard
            </mat-card-content>
        </mat-card>
    </div>
    <br />

    <div class="row">
        <div class="col-md-9">
            <div id="snake_game">
                <div *ngFor="let box of sizeHeight; index as y; trackBy: trackByFn">
                    <app-game-area-line [sizeWidth]="sizeWidth" [y]="y" [direction]="direction"
                        [snakeCoordinates]="snakeCoordinates" [foodCoordinates]="foodCoordinates"
                        [wallCoordinates]="wallCoordinates" class="line">
                    </app-game-area-line>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <app-lateral-panel [state]="state" [score]="score" [level]="level" (beginStopGame)="beginStopGame($event)">
            </app-lateral-panel>
        </div>
    </div>
</div>