.rotate_to_left {
    transform: rotate(270deg);
}

.rotate_to_right {
    transform: rotate(90deg);
}

.rotate_to_top {
    transform: rotate(0deg);
}

.rotate_to_bottom {
    transform: rotate(180deg);
}

.box_size {
    width: 25px;
    height: 25px;
}

.max_height_width {
    width: 100%;
    height: 100%;
}

.line-box {
    display: inline-block;
    border: 1px solid blue;
}

 @media only screen {
    .line-box {
        width: 12px;
        height: 12px;
    }
    .box_size {
        width: 12px;
        height: 12px;
    }
}

@media only screen and  (min-height : 500px) {
    .line-box {
        width: 14px;
        height: 14px;
    }
    .box_size {
        width: 14px;
        height: 14px;
    }
}

@media only screen and  (min-height : 600px) {
    .line-box {
        width: 18px;
        height: 18px;
    }
    .box_size {
        width: 18px;
        height: 18px;
    }
}

@media only screen and (min-height : 730px) {
    .line-box {
        width: 25px;
        height: 25px;
    }
    .box_size {
        width: 25px;
        height: 25px;
    }
}

.icon_50px {
    font-size: 50px;
}

.icon_50px:hover {
    cursor: pointer;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("./assets/img/nature.jpg");
    overflow: hidden;
}

h1 {
    margin-top: 20px !important;
    text-align: center;
    color: white;
}

mat-dialog-container h1 {
    color: black;
}

mat-dialog-container {
    opacity: 0.8;
}