.card
{
    width: 100% !important;
    text-align: left !important;
    color : white;
    font-family: 'Akronim';
    font-size: 20px !important;
    background-color: rgb(7, 6, 6);
    opacity: 0.5;
}

mat-card-content
{
    font-size: 20px !important;
}

.card mat-card-title
{
    text-align: center;
}

.card mat-card-header
{
    justify-content: center;
}

#allowed
{
    color : red;
    font-weight: bold;
}

.score
{
    font-size: 30px;
}

#increase_font_size
{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#popup_title
{
    font-size: 25px;
}